<app-menu></app-menu>
<div id="content" #content class="margen">
<h3>Detalles del Tercero - <button (click)="GenerarPdf()"><i class="bi bi-file-pdf"></i></button></h3>
<div>
  <div>
    <label><b>ID : </b> {{ tercero.id }}</label>
  </div>
  <div>
    <label><b>Descripción : </b> {{ tercero.descripcion }}</label>
  </div>
<div>
    <label><b>Numero : </b> {{ tercero.numero }}</label>
  </div>
<div>
    <label><b>Telefono 1 : </b> {{ tercero.telefono_1 }}</label>
  </div>
<div>
    <label><b>Telefono 2 : </b> {{ tercero.telefono_2 }}</label>
  </div>
<div>
    <label><b>Tipo tercero : </b> {{ tercero.tipo_tercero }}</label>
  </div>



</div>
</div>

