<app-menu></app-menu>
<h2>lista de productos</h2>
<table class="table table-striped">
  <thead class="table-dark">

    <tr>
      <th>ID </th>
      <th>Descripcion </th>
      <th> Stock minimo</th>
     <!-- <th> Existencia </th> -->
     <th> Funciones </th>
    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let producto of productos">
      <td> {{producto.id}}</td>
      <td> {{producto.descripcion}}</td>
      <td> {{producto.stock_minimo}}</td>
     <!-- <td> {{producto.existencia}}</td> -->
      <td>
        <button (click)="actualizarProducto(producto.id)" class="btn btn-primary">Editar</button>
        <button (click)="eliminarProducto(producto.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
        <button (click)="verDetallesDelProducto(producto.id)" class="btn btn-dark" style="margin-left: 10px;">Detalles</button>
      </td>

    </tr>

  </tbody>

</table>
