<app-menu></app-menu>
<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Edición de movimiento</h3>
  <form (ngSubmit)= "onSubmit()" #movimientoForm = "ngForm">

    <div class="form-group">
      <label>ID: </label>
      <input type = "number"
      class="form-control"
      id = "id"
      [(ngModel)] = "movimiento.id"
      name = "id"
      disabled="true"
      >

    </div>

       <!--

	<div class="form-group">
      <label>Naturaleza del movimiento:</label>
      <input type="number" class="form-control" id="id_naturaleza" [(ngModel)]="movimiento.id_naturaleza" name="id_naturaleza"
      >
     </div>
        -->

     <div class="form-group">

      <label>Naturaleza del movimiento:</label>
      <select class="form-control" id="naturaleza" [(ngModel)]="naturaleza" name="naturaleza" value="movimiento.id_naturaleza">
        <option *ngFor= "let naturaleza of naturalezas"  [ngValue]= "naturaleza.id">
            {{naturaleza.id}}-{{naturaleza.descripcion}}
      </option>
      </select>
    </div>

    <div class="form-group">

      <label>Producto</label>
      <select class="form-control" id="producto" [(ngModel)]="producto" name="producto" value="movimiento.id_producto_movto">
        <option *ngFor= "let producto of productos"  [ngValue]= "producto.id">
            {{movimiento.id_producto_movto}}-{{producto.descripcion}}
      </option>
      </select>
    </div>

 <div class="form-group">
  <label>Bodega</label>
  <select class="form-control" id="bodega" [(ngModel)]="bodega" name="bodega" value="movimiento.id_bodega_movto">
    <option *ngFor= "let bodega of bodegas" [ngValue]= "bodega.id">
        {{movimiento.id_bodega_movto}}-{{bodega.descripcion}}
  </option>
  </select>
</div>

<div class="form-group">
  <label>Tercero</label>
  <select class="form-control" id="tercero" [(ngModel)]="tercero" name="tercero" >
    <option *ngFor= "let tercero of terceros" [ngValue]= "tercero.id">
        {{tercero.numero}}-{{tercero.descripcion}}
  </option>
  </select>
</div>

	<div class="form-group">
    <label>Cantidad</label>
      <input type="number" class="form-control" id="cantidad_movto" [(ngModel)]="movimiento.cantidad_movto" name="cantidad_movto"
        required maxlength="9">

    </div>

	<!--

   <div class="form-group">
	<label>Fecha del movimiento:</label>
	  <input type="date" class="form-control" id="fecha_movto" [(ngModel)]="movimiento.fecha_movto" name="fecha_movto"
		 >
		  validar
		  inactivar la fecha del movimiento, solo informativa
		</div>
-->

    <p></p>
    <div >
      <button class="btn btn-success" [disabled]= "!movimientoForm.form.valid">Guardar</button>
    </div>
  </form>
</div>
