<app-menu></app-menu>
<div id="content" #content class="margen">
  <h3>Detalles Bodega - <button (click)="GenerarPdf()"><i class="bi bi-file-pdf"></i></button></h3>

    <div>
      <label><b>ID : </b> {{ bodega.id }}</label>
    </div>
    <div>
      <label><b>Codigo : </b> {{ bodega.codigo }}</label>
    </div>

    <div *ngFor="let compania of companias"  value="bodega.id_cia">
      <label *ngIf="bodega.id_cia==compania.id"><b >Compania : </b>{{ compania.id_cia }}-{{ compania.descripcion }}</label>
    </div>


    <div>
      <label><b>Descripción : </b> {{ bodega.descripcion }}</label>
    </div>


  </div>
