<app-menu></app-menu>
<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Edición de bodega</h3>
  <form (ngSubmit)= "onSubmit()" #bodegaForm = "ngForm">

    <div class="form-group">
      <label>ID: </label>
      <input type = "number"
      class="form-control"
      id = "id"
      [(ngModel)] = "bodega.id"
      name = "id"
      disabled="true"
      disabled="true"
      >

    </div>

 <div class="form-group">
  <label>compania:</label>
  <select class="form-control"  [(ngModel)]="compania" name="compania"   id = "compania" disabled="true">

    <option *ngFor="let compania of companias" [value]="compania.id"   >
    <!--    <label *ngIf="bodega.id_cia==compania.id" >-->
          {{ compania.id }}-{{ compania.descripcion }}
        <!--</label>-->
    </option>
  </select>
</div>

	 <div class="form-group">
      <label>Codigo: </label>
      <input type = "text"
      class="form-control"
      id = "codigo"
      [(ngModel)] = "bodega.codigo"
      name = "codigo"
      required
      maxlength="3"
      placeholder="codigo"
      #codigo = "ngModel"
      disabled="true"
      >
	</div>

    <div class="form-group">
      <label>Descripcion: </label>
      <input type = "text"
      class="form-control"
      id = "descripcion"
      [(ngModel)] = "bodega.descripcion"
      name = "descripcion"
      required
      minlength="4"
      maxlength="150"
      placeholder="Digite descripcion "
      #descripcion = "ngModel"
      >

    </div>
    <p></p>
    <button class="btn btn-success" [disabled]= "!bodegaForm.form.valid">Guardar</button>
  </form>
</div>
