<nav class="navbar navbar-expand-sm bg-primary navbar-dark ">
  <ul class="navbar-nav">

    <a  class="navbar-brand" href="login">Sistema SICO</a>

    <!-- Dropdown -->
    <li *ngIf="loginService.isUserLoggedIn()" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Productos
      </a>
      <div class="dropdown-menu">

        <a routerLink="productos" routerLinkActive="active" class="dropdown-item">Lista de productos</a>
        <a routerLink="registrar-producto" routerLinkActive="active" class="dropdown-item">Adicionar producto</a>

      </div>
    </li>

    <!-- Dropdown -->
    <li *ngIf="loginService.isUserLoggedIn()" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Bodegas
      </a>
      <div class="dropdown-menu">

        <a  routerLink="bodegas" routerLinkActive="active" class="dropdown-item">Lista de bodegas</a>
        <a  routerLink="registrar-bodega" routerLinkActive="active" class="dropdown-item">Adicionar bodega</a>

      </div>
    </li>

    <!-- Dropdown -->
    <li *ngIf="loginService.isUserLoggedIn()" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Terceros
      </a>
      <div class="dropdown-menu">

        <a  routerLink="terceros" routerLinkActive="active" class="dropdown-item">Lista de terceros</a>
        <a  routerLink="registrar-tercero" routerLinkActive="active" class="dropdown-item">Adicionar tercero</a>

      </div>
    </li>

    <!-- Dropdown -->
    <li *ngIf="loginService.isUserLoggedIn()" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Movimientos
      </a>
      <div class="dropdown-menu">

        <a  routerLink="movimientos" routerLinkActive="active" class="dropdown-item">Lista de Movimientos</a>
        <a  routerLink="registrar-movimiento" routerLinkActive="active" class="dropdown-item">Adicionar movimiento</a>

      </div>
    </li>

    <!-- Dropdown -->
    <li  *ngIf="loginService.isUserLoggedIn()" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Consulta de Existencias
      </a>
      <div class="dropdown-menu">
        <a  routerLink="existencias" routerLinkActive="active" class="dropdown-item">Consulta de existencias</a>

      </div>
    </li>


      <!-- Dropdown -->
      <li *ngIf="loginService.isUserLoggedIn()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Usuarios
        </a>
        <div class="dropdown-menu">

          <a routerLink="usuarios" routerLinkActive="active" class="dropdown-item">Lista de usuarios</a>
          <a routerLink="registrar-usuario" routerLinkActive="active" class="dropdown-item">Adicionar usuarios</a>
          <a *ngIf="loginService.isUserLoggedIn()" routerLink="login" routerLinkActive="active" class="nav-link">Login</a>

        </div>
      </li>

      <a *ngIf="loginService.isUserLoggedIn()" routerLink="logout" routerLinkActive="active" class="nav-link">Logout</a>




  </ul>

</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
  <!-- <app-lista-productos ></app-lista-productos>
  <router-outlet ></router-outlet> : sirve para mostrar componentes.
  -->
  <router-outlet></router-outlet>

</div>
