<app-menu></app-menu>
<div id="content" #content class="margen">
  <h3>lista de bodegas - <button (click)="GenerarPdf()"><i class="bi bi-file-pdf"></i></button></h3>

  <table class="table table-responsive-xxl table-sm">

    <thead class="table-dark">
      <tr>
        <th>ID </th>
        <th>ID-Compania</th>
        <th>Codigo </th>
        <th>Descripcion </th>

        <th> Funciones </th>
      </tr>


    </thead>

    <!--<tbody>-->

    <tr *ngFor="let bodega of bodegas">

      <td> {{bodega.id}}</td>
      <td> {{bodega.id_cia}}-{{bodega.compania}}</td>
      <td> {{bodega.codigo}}</td>
      <td> {{bodega.descripcion}}</td>


      <td>
        <button (click)="actualizarBodega(bodega.id)" class="btn btn-primary  btn-sm"><i
            class="bi bi-sd-card"></i></button>
        <button (click)="eliminarBodega(bodega.id)" class="btn btn-danger btn-sm" style="margin-left: 10px;"><i
            class="bi bi-trash3-fill"></i></button>
        <button (click)="verDetallesDelBodega(bodega.id)" class="btn btn-dark  btn-sm" style="margin-left: 10px;"><i
            class="bi bi-eyeglasses"></i></button>
      </td>

    </tr>

    <!--</tbody>-->
  </table>
</div>
