<app-menu></app-menu>
<div id="content" #content class="margen">
<h3>Informe de existencias - <button (click)="GenerarPdf()"><i class="bi bi-file-pdf"></i></button></h3>
<table class="table table-responsive-xxl table-sm" >
  <thead class="table-dark">
    <tr>
      <th>ID </th>
	  <th>Producto</th>
	  <th>Bodega</th>
	  <th>Existencia</th>

  </tr>

  </thead>

  <tbody>

    <tr *ngFor="let existencia of existencias">
      <td> {{existencia.id}}</td>
      <td> {{existencia.id_producto}}{{existencia.producto}}</td>
      <td> {{existencia.id_bodega}}-{{existencia.bodega}}</td>
      <td> {{existencia.cantidad_existencia}}</td>

	</tr>

  </tbody>

</table>
</div>
