<app-menu></app-menu>
<div id="content" #content class="margen">
  <h3>Detalles del Movimiento - <button (click)="GenerarPdf()"><i class="bi bi-file-pdf"></i></button></h3>
  <div>
    <div>
      <label><b>ID : </b> {{ movimiento.id }}</label>
    </div>
    <div *ngFor="let naturaleza of naturalezas" value="movimiento.naturaleza">
      <label *ngIf= "movimiento.id_naturaleza==naturaleza.id"><b>Tipo movimiento : </b>{{ naturaleza.id }}-{{ naturaleza.descripcion}}</label>
    </div>

    <div *ngFor="let bodega of bodegas" value="movimiento.id_bodega_movto">
      <label *ngIf="movimiento.id_bodega_movto==bodega.id"><b>Bodega : </b>{{ bodega.id }}-{{ bodega.descripcion
        }}</label>
    </div>
    <div *ngFor="let producto of productos" value="movimiento.id_producto_movto">
      <label *ngIf="movimiento.id_producto_movto==producto.id"><b>Producto : </b>{{ producto.id }}-{{
        producto.descripcion }}</label>
    </div>

    <div>
      <label><b>Cantidad : </b> {{ movimiento.cantidad_movto}}</label>
    </div>
    <div>
      <label><b>Fecha : </b> {{ movimiento.fecha_movto }}</label>
    </div>
   

  </div>
