<app-menu></app-menu>
<div id="content" #content class="margen">
<h3>Detalles del Movimiento - <button (click)="GenerarPdf()"><i class="bi bi-file-pdf"></i></button></h3>
<div>
  <div>
    <label><b>ID : </b> {{ movimiento.id }}</label>
  </div>
   <div>
    <label><b>Naturaleza del movimiento : </b> {{ movimiento.id_naturaleza}}</label>
  </div>

  <div>
    <label><b>Producto : </b> {{ movimiento.id_producto_movto }}</label>
  </div>
  <div>
    <label><b>Bodega : </b> {{ movimiento.id_bodega_movto }}</label>
  </div>
  <div>
    <label><b>Cantidad : </b> {{ movimiento.cantidad_movto}}</label>
  </div>
  <div>
    <label><b>Fecha : </b> {{ movimiento.fecha_movto }}</label>
  </div>
  <div>
    <label><b>Usuario : </b> {{ movimiento.id_user }}</label>
  </div>

</div>
